/****** General ***********/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: 'Raleway', serif;
    scroll-behavior: smooth;
}

a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

:root {
    --color-blue: #0065FC;
    --color-light-blue: #DEEBFF;
    --color-grey: #D9D9D9;
    --color-light-grey: #F2F2F2;
}

/* HEADER */

header {
    margin: auto;
    max-width: 1440px;
    height: 79px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 61px;
    padding: 30px;
}

header nav {
    align-self: center;
    padding: 0 25px;
}

nav ul {
   padding: 15px 0 0 0;
   list-style: none;
   display: flex;
   gap: 68px;
   font-weight: 400;
   font-size: 16px;
}

nav li:hover a{
    color: var(--color-blue);
    padding: 15px 0 0 0;
    transition: all 0.2s ease;
    border-top: 2px solid var(--color-blue);
}

/* FOOTER */

footer {
    background-color: var(--color-light-grey);
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    padding: 20px;
}

footer ul {
    padding: 0;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
}

footer li {
    margin-bottom: 18px;
}

footer h2 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
}