/****** Général ***********/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: 'Raleway', serif;
    scroll-behavior: smooth;
}

a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

:root {
    --color-blue: #0065FC;
    --color-light-blue: #DEEBFF;
    --color-grey: #D9D9D9;
    --color-light-grey: #F2F2F2;
}

/* HEADER */

header {
    margin: auto;
    max-width: 1440px;
    height: 79px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 61px;
    padding: 30px;
}

header nav {
    align-self: center;
    padding: 0 25px;
}

nav ul {
   padding: 15px 0 0 0;
   list-style: none;
   display: flex;
   gap: 68px;
   font-weight: 400;
   font-size: 16px;
}

nav li:hover a{
    color: var(--color-blue);
    transition: all 0.2s ease;
    border-top: 2px solid var(--color-blue);
    padding-top: 36px;
}

/* FOOTER */

footer {
    background-color: var(--color-light-grey);
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    padding: 20px;
}

footer ul {
    padding: 0;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
}

footer li {
    margin-bottom: 18px;
}

footer h2 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* MAIN */

/* Première section */

main{
    padding: 30px;
}
.selection {
    margin: auto;
    max-width: 1440px;
}
h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}
.selection p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
}
/* Formulaire */

.recherche {
    display: flex;
    align-items: center;
    gap: 0;
    margin-bottom: 35px;
}

.recherche input, .button-bg-gris {
    border: none;
    text-align: center;
    padding: 15px;
    height: 15px;
}

.recherche button {
    padding: 12px;
}
.recherche-loupe{
    display: none;
}

.recherche i {
    font-size: 16px!important;
    padding: 15px;
}

.recherche input {
    border: 1px solid var(--color-light-grey);
}

.recherche input::placeholder {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.bouton-gris {
    background-color: var(--color-light-grey);
    border: 1px solid var(--color-light-grey);
    border-radius: 15px 0px 0px 15px;
}
.bouton-bleu {
    background-color: var(--color-blue);
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid var(--color-blue);
    border-radius: 0px 15px 15px 0px;
}
.recherche i {
    background-color: var(--color-light-grey);
    font-size: 10px;
}

.recherche i, .recherche form {
    border: 1px solid var(--color-light-grey);
}
.fa-info {
    border: 2px solid var(--color-light-grey); 
    border-radius: 50%;      
    padding: 10px;           
    display: inline-block;   
  }
  
/* Filtres */

.filtre-h3 {
    display: flex;
    gap: 10px;
    
}

.filtre {
    display: flex;
    
}

.filtre-p {
    align-self: center;
    
}

.filtre > h3 {
    font-size: 18px;
    font-weight: 700;
    
    
}

.filtre button {
    display: flex;
    border: 2px solid var(--color-light-grey);
    border-radius: 25px;
    background-color: #FFF;
    height: 40px;
    width: fit-content;
    align-self: center;
    padding: 18px 35px 35px 18px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 700;
}

.filtre button:hover {
    background-color: var(--color-light-blue);
    transition: all 0.2s ease;
    border: 2px solid var(--color-grey);
}


.filtre button i {
    color: var(--color-blue);
}

.info {
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
}
.info .fa-info {
    width: 14px;
    border: 2px solid var(var(--color-light-grey));
    border-radius: 50px;
    padding: 8px;
    color: var(--color-blue);
    margin-right: 12px;
    margin-bottom: 50px;
    text-align: center;
}

/* Deuxième section hébergements*/

#hebergements {
    display: grid;
    grid-template-columns: 67% auto;
    gap: 30px;
    max-width: 1440px;
    margin: auto;
}

.hebergement-article {
    border-radius: 15px;
    padding: 25px;
}
.hebergement-article h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
}
.hebergement-article p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 7px;
    
}

.grid-hebergement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: auto;
    margin-bottom: 20px;
    
}

.hebergement-hotel {
    background-color: #FFF;
    padding: 5px;
    border: 1px solid #FFF;
    border-radius: 20px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
}

.hebergement-article, .hebergement-aside {
    background-color: var(--color-light-grey);
}

.hebergement-hotel img {
    width: 100%;
    height: 184px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.hebergement-hotel h3, p{
    margin-left: 5px;
}
/* .hebergement-hotel i{
    margin-left: 2px;
    
} */
.plus {
    font-size: 16px;
    font-weight: 700;
}


/* Aside */

.fa-chart-line {
    color: var(--color-blue);
    align-self: center;
}

.fa-star {
    color: var(--color-blue);
}

.white {
    color: var(--color-light-grey);
}

.hebergement-aside {
    border-radius: 15px;
}

.hebergement-titre {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
}

.hebergement-titre h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 50px;
    padding-left: 25px; 
}

.hebergement-populaire {
    background-color: #FFF;
    padding: 5px;
    border: 1px solid #FFF;
    border-radius: 20px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
   
}

.hebergement-populaire img {
    width: 100%;
    height: 154px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.aside-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 20px 20px;
}

.hebergement-populaire a {
    display: grid;
    grid-template-columns: 1fr 2fr;
   
}
.stars{
   
    margin-left: 5px;
    margin-bottom: 10px;
}


.etoiles {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10px;
}
.etoiles p{
    margin-top: 10px;
}
.aside-h3{
    margin-left: 5px;
}

/* Activités */

#activites {
    max-width: 1440px;
    margin: auto;
    padding: 100px 30px 30px 30px;
}

#activites h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
}

.activites-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    justify-content: space-between;
    grid-gap: 30px;
    width: 100%;
    height: auto;
    margin: 20px auto;
}

.activites-grid article {
    border: 1px solid var(--color-light-grey);
    border-radius: 20px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    margin: auto;
    height: 100%;
}

.activites-img{
    width: 100%;
    height: 440px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activites-grid h3 {
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 19px 20px 19px;
}

/* MEDIA QUERRIES */

/* Media querrie pour tablette */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
h1 {
    margin-bottom: 5px;
}   

/* Filtres */

.filtre-h3 {
    display: block;
    gap: 10px;
}

.filtre-p {
    margin-bottom: 25px;
}

.filtre {
    display: flex;
}

.filtre button {
    padding : 14px 28px 28px 18px;
}

/* Hebergements */

#hebergements {
    display: block;
}

.hebergement-hotel img {
    width: 100%;
    height: 124px;
}
.hebergement-article h3{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: 5px;

}
.hebergement-article p {
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-left: 5px;
}
.fa-star{
    font-size: 12px;
    
}


.hebergement-article {
    padding-bottom: 20px;
    margin-bottom: 30px;
    
}

/* Aside */

.aside-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 30px;

}
.aside-grid img{
    width: 100%;
}


.hebergement-populaire h3 {
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.hebergement-populaire p {
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 20px;
}


/* Activités */

.activites-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;

}

.activites-grid h3 {
    font-size: 13px;
    margin: 15px 0 0 10px;
    padding: 0 0 10px 0;
}

/* Footer */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px 30px 0px 30px; 
    padding: 30px;
    
}
}

/* Media querrie pour la version smartphone */

@media only screen and (max-width: 767px) {

    /* Header */
    header nav a {
        width: 100%;
        display: block;
    }
    
    header {
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }
    
    header nav {
        padding: 0;
    }
    
    nav ul {
        padding: 15px 0 0 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }
    
    nav li:hover a{
        color: var(--color-blue);
        padding: 0 0 15px 0;
        transition: all 0.2s ease;
        border-bottom: 2px solid var(--color-blue);
        border-top: none;
    }

    /* Main */
    
    .selection{
        margin-top: 20px;
    }

    /* Formulaire */


    .recherche button{
        margin: 0;
    }

    .bouton-bleu  .fa-magnifying-glass {
        background-color: var(--color-blue);
        border: none;
        padding: 0;
        
    }
    
    
    .recherche-texte {
        display: none;
    }
    
    .recherche-loupe {
        display: inline;
    }
    
    .bouton-bleu{
        margin-left: -5px;
        border-radius: 15px;
        box-shadow: 1px 5px 2px var(--color-grey);
        
    }
    
    /* Filtres */

    .filtre-h3 {
        display: block;
    }

    .filtre-p {
        margin-bottom: 25px;
    }
    .filtre {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        gap: 20px;
    }
    
    .filtre button {
        font-size: 13px;
        font-weight: 700;
        width: 160px;
        justify-content: left;
        padding-left: 20px;
    }
    .filtre .fa-solid {
        margin-right: 2px;
        font-size: 13px;
        
    }
    /* Herbergements */

    #hebergements {
        display: flex;
        flex-direction: column-reverse;
        
    }

    .hebergement-article {
        border-radius: 0;
        background-color: #FFF;
    }
    
    .grid-hebergement {
        display: block;
        height: auto;
        margin: 20px 20px;
    }
    
    .hebergement-hotel {
        margin-bottom: 25px;
    }
    
    .fa-solid .fa-star {
        margin: 0;
        padding: 0;
        
    }

    /* Activités */

    .activites-grid {
        display: block;
        margin-bottom: 25px;
    }
    
    .activites-grid article {
        margin-bottom: 25px;
    }

    /* Footer */

    footer {
        display: block;
        padding: 70px;
    }
    
    footer article {
        margin-bottom: 50px;
    }
    
    footer li {
        margin-bottom: 16px;
    }

}
 

