/****** General ***********/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: 'Raleway', serif;
    scroll-behavior: smooth;
}

a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

:root {
    --color-blue: #0065FC;
    --color-light-blue: #DEEBFF;
    --color-grey: #D9D9D9;
    --color-light-grey: #F2F2F2;
}

/* HEADER */

header {
    margin: auto;
    max-width: 1440px;
    height: 79px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 61px;
    padding: 30px;
}

header nav {
    align-self: center;
    padding: 0 25px;
}

nav ul {
   padding: 15px 0 0 0;
   list-style: none;
   display: flex;
   gap: 68px;
   font-weight: 400;
   font-size: 16px;
}

nav li:hover a{
    color: var(--color-blue);
    padding: 15px 0 0 0;
    transition: all 0.2s ease;
    border-top: 2px solid var(--color-blue);
}

/* FOOTER */

footer {
    background-color: var(--color-light-grey);
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    padding: 20px;
}

footer ul {
    padding: 0;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
}

footer li {
    margin-bottom: 18px;
}

footer h2 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* MAIN */

/* Première section */

main{
    padding: 30px;
}
.selection {
    margin: auto;
    max-width: 1440px;
}
h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}
.selection p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
}
/* Formulaire */

.recherche {
    display: flex;
    align-items: center;
    gap: 0;
    margin-bottom: 35px;
}

.recherche input, .button-bg-gris {
    border: none;
    text-align: center;
    padding: 15px;
    height: 15px;
}

.recherche button {
    padding: 12px;
}
.recherche-loupe{
    display: none;
}

.recherche i {
    font-size: 16px!important;
    padding: 15px;
}

.recherche input {
    border: 1px solid var(--color-light-grey);
}

.recherche input::placeholder {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.bouton-gris {
    background-color: var(--color-light-grey);
    border: 1px solid var(--color-light-grey);
    border-radius: 15px 0px 0px 15px;
}
.bouton-bleu {
    background-color: var(--color-blue);
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid var(--color-blue);
    border-radius: 0px 15px 15px 0px;
}
.recherche i {
    background-color: var(--color-light-grey);
    font-size: 10px;
}

.recherche i, .recherche form {
    border: 1px solid var(--color-light-grey);
}

/* Filtres */

.filtre-h3 {
    display: flex;
    gap: 10px;
}

.filtre {
    display: flex;
}

.filtre-p {
    align-self: center;
}

.filtre > h3 {
    font-size: 18px;
    font-weight: 700;
}

.filtre button {
    display: flex;
    gap: 10px;
    border: 2px solid var(--color-light-grey);
    border-radius: 25px;
    background-color: #FFF;
    height: 40px;
    width: fit-content;
    align-self: center;
    padding-top: 10px;
    margin-left: 40px;
}

.filtre button:hover {
    background-color: var(--color-light-blue);
    transition: all 0.2s ease;
    border: 2px solid var(--color-grey);
}

.filtre button {
    font-size: 17px;
    font-weight: 700;
}

.filtre button i {
    color: var(--color-blue);
}

.info {
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
}
.info .fa-info {
    width: 14px;
    border: 2px solid var(var(--color-light-grey));
    border-radius: 50px;
    padding: 8px;
    color: var(--color-blue);
    margin-right: 12px;
    margin-bottom: 50px;
    text-align: center;
}

/* Deuxième section hébergements*/

#hebergements {
    display: grid;
    grid-template-columns: 67% auto;
    gap: 30px;
    max-width: 1440px;
    margin: auto;
}

.hebergement-article {
    border-radius: 15px;
}
.hebergement-article h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
}

.grid-hebergement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: auto;
    margin: 20px 20px;
}

.hebergement-hotel {
    background-color: #FFF;
    padding: 5px;
    border: 1px solid #FFF;
    border-radius: 20px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
}

.hebergement-article, .hebergement-aside {
    background-color: var(--color-light-grey);
}

.hebergement-hotel img {
    width: 100%;
    height: 184px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.plus {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-left: 25px;
} 

/* Aside */

.fa-chart-line {
    color: var(--color-blue);
    align-self: center;
}

.fa-star {
    color: var(--color-blue);
}

.white {
    color: var(--color-light-grey);
}

.hebergement-aside {
    border-radius: 15px;
}

.hebergement-titre {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
}

.hebergement-titre h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-left: 25px;
}

.hebergement-populaire {
    background-color: #FFF;
    padding: 5px;
    border: 1px solid #FFF;
    border-radius: 20px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
}

.hebergement-populaire img {
    width: 100%;
    height: 154px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.aside-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 20px 20px;
}

.hebergement-populaire a {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}

.etoiles {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* Activités */

#activites {
    max-width: 1440px;
    margin: auto;
    padding: 100px 30px 30px 30px;
}

#activites h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
}

.activites-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    justify-content: space-between;
    grid-gap: 30px;
    width: 100%;
    height: auto;
    margin: 20px auto;
}

.activites-grid article {
    border: 1px solid var(--color-light-grey);
    border-radius: 20px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
    margin: auto;
    height: 100%;
}

.activites-grid img{
    width: 100%;
    height: 440px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activites-grid h3 {
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 19px 20px 19px;
}